.errorDisplay{
  color:red;
}
.wrapper {
  padding-top: 2em;
  background-color: #E8E8E8	;
  text-align: center;
}

#regBtn {
  border-color: black;
  background-color: yellow;
}
#clearBtn{
  background-color: red;
  color: white;
  width: 9em;
}

#addMeBtn {
  background-color: green;
  color: white;

}

#styleMe {
  width: 50%;
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.reg-number {
  padding: 0.5rem;
  border: 1px #000 solid;
  background: yellow;
  color: black;
  display: block;
  width: 15%;
}

select {
  width: 40%;
  padding: 10px 10px;
  margin: 2px 0;
  display: inline-block;
  border: 1px solid white;
  border-radius: 4px;
  box-sizing: border-box;
}

  h4 {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    color: black 	;
    text-shadow: -80px 20px 80px dimgrey
  }
